.Group41{
/* Group 41 */


position: absolute;
width: 640px;
height: 60px;
left: 750px;
top: 802px;
}
.time1Group41{
/* 21:56 */


position: absolute;
width: 41px;
height: 24px;
left: 775px;
top: 820px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #1D1D1D;
}
.Rectangle55Group41{
/* Rectangle 55 */


position: absolute;
width: 61px;
height: 30px;
left: 765px;
top: 817px;

background: #FFFFFF;
border-radius: 5px;
}
.ImageID1Group41{
/* Image ID: fQSunHvl8 was removed from Favourites */


position: absolute;
width: 350px;
height: 24px;
left: 846px;
top: 820px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #8C8C8C;
}
.Rectangle54Group41{
/* Rectangle 54 */


position: absolute;
width: 640px;
height: 60px;
left: 750px;
top: 802px;

background: #F8F8F7;
border-radius: 10px;
}
.Vector348Group41{
/* Vector 348 (Stroke) */


position: absolute;
left: 93.75%;
right: 4.86%;
top: 91.34%;
bottom: 6.44%;

background: #FF868E;

background: url("../img/SmileSmall.png");

background-size: cover; 

}