.MaskGroup1{
    position: absolute;
    width: 138px;
    height: 198px;
    left: 301px;
    top: 340px;
}

.Rectangle13a{
    position: absolute;
width: 138px;
height: 198px;
left: 301px;
top: 340px;

background: #FFFFFF;
border-radius: 20px;
}

.Rectangle22a{
    position: absolute;
    width: 138px;
    height: 198px;
    left: 301px;
    top: 340px;
    
    background: #97EAB9;
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 20px;
}
.pet-breeds{
    position: absolute;
    width: 117px;
    height: 163px;
    left: 311px;
    top: 357px;
    
    background: url("../img/pet-breeds.png");
    background-size: cover; 
}

.Rectangle25{
    position: absolute;
    width: 138px;
    height: 36px;
    left: 301px;
    top: 548px;
    
    background: #FFFFFF;
    border-radius: 10px;
}


.BREEDS{
    position: absolute;
    width: 138px;
    height: 16px;
    left: 301px;
    top: 558px;
    
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    
    text-align: center;
    letter-spacing: 2px;
    
    color: #FF868E;
}

