.MaskGroup1{
    position: absolute;
    width: 138px;
    height: 198px;
    left: 301px;
    top: 340px;
}

.Rectangle13a{
    position: absolute;
width: 138px;
height: 198px;
left: 301px;
top: 340px;

background: #FFFFFF;
border-radius: 20px;
}
.Rectangle22a{
    position: absolute;
    width: 138px;
    height: 198px;
    left: 301px;
    top: 340px;
    
    background: #97EAB9;
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 20px;
}
.pet-breeds{
    position: absolute;
    width: 117px;
    height: 163px;
    left: 311px;
    top: 357px;
    
    background: url(https://s3-alpha-sig.figma.com/img/efc0/58ac/6f2210cf70c28b7100c40197ac3b524c?Expires=1619395200&Signature=ZEqY5A7kPRZtzHsOTxy19ovOPhAUFQEF3d22yBW57HeA-t5n~PYquSE8m1kcXdy1ColR2bPEEkbf9ChAcbyyorru8mW9TCkeTGa9Q6DvyYF~vCFs9XZoLCbl9iar8M7-A5m9yHsxLps-a3nS3aeVGrxCgj6LYVHWywexi5MlFttydp3X8HCEjfEjumv85LpJEtLrANlz4siw8wz-dXvxLoHKefnTiLV3shm0mreEVVw7G3csrlBF1YJcewiN5mLdNwPcV8rBBLrWla3ZsFmSaKAWrp8UnRGriswX3CaTmc18nsu60KSzD7DOuWg9iAFAv7Znk4BqLVaSW8C-5cAwvQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover; 
}

.Rectangle25{
    position: absolute;
    width: 138px;
    height: 36px;
    left: 301px;
    top: 548px;
    
    background: #FF868E;
    border-radius: 10px;
}

.BREEDS{
    position: absolute;
    width: 138px;
    height: 16px;
    left: 301px;
    top: 558px;
    
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    
    text-align: center;
    letter-spacing: 2px;
    
    color: #FFFFFF;
}

