

.app{
    
    position: relative;
    width: 1440px;
    height: 900px;
    
    background: #F8F8F7;
}


.FrontTest{
    position: absolute;
width: 308px;
height: 29px;
left: 147px;
top: 202px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
/* identical to box height */
color: #8C8C8C;
}
.DogsAPI{
    position: absolute;
    width: 257px;
    height: 29px;
    left: 147px;
    top: 291px;
    
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
     
    color: #1D1D1D;
}
.HiIntern{
    position: absolute;
    width: 184px;
    height: 58px;
    left: 147px;
    top: 134px;
    
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    /* identical to box height, or 132% */
    
    
    color: #1D1D1D;
}













.group25{
    position: absolute;
    width: 446px;
    height: 450px;
    left: 147px;
    top: 134px;
}

