.Group39{
/* Group 39 */


position: absolute;
width: 640px;
height: 60px;
left: 750px;
top: 662px;
}
.time1Group39{
/* 22:27 */


position: absolute;
width: 41px;
height: 24px;
left: 775px;
top: 680px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #1D1D1D;
}
.Rectangle55Group39{
/* Rectangle 55 */


position: absolute;
width: 61px;
height: 30px;
left: 765px;
top: 677px;

background: #FFFFFF;
border-radius: 5px;
}
.ImageID1Group39{
/* Image ID: HJd0XecNX was added to Likes */


position: absolute;
width: 288px;
height: 24px;
left: 846px;
top: 680px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #8C8C8C;
}
.Rectangle54Group39{
/* Rectangle 54 */


position: absolute;
width: 640px;
height: 60px;
left: 750px;
top: 662px;

background: #F8F8F7;
border-radius: 10px;
}
.Vector348Group39{
/* Vector (Stroke) */


position: absolute;
left: 93.75%;
right: 4.86%;
top: 75.78%;
bottom: 22%;

background: #97EAB9;

background: url("../img/SmileSmall.png");

background-size: cover; 

}