.GALLERY{
    position: absolute;
    width: 138px;
    height: 16px;
    left: 455px;
    top: 558px;
    
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    
    text-align: center;
    letter-spacing: 2px;
    
    color: #FF868E;
}

.Rectangle26{
    position: absolute;
    width: 138px;
    height: 36px;
    left: 455px;
    top: 548px;
    
    background: #FFFFFF;
    border-radius: 10px;
}



.MaskGroup2{
    position: absolute;
    width: 138px;
    height: 198px;
    left: 147px;
    top: 340px;
}




.Rectangle22b{
position: absolute;
width: 138px;
height: 198px;
left: 455px;
top: 340px;

background: #FFD280;
border: 4px solid rgba(255, 255, 255, 0.6);
box-sizing: border-box;
border-radius: 20px;
    }
    
    
.Rectangle13b{
        position: absolute;
        width: 138px;
        height: 198px;
        left: 455px;
        top: 340px;
        
        background: #FFFFFF;
        border-radius: 20px;
}
    
    .images-search{
    position: absolute;
    width: 112px;
    height: 190px;
    left: 468px;
    top: 344px;
    background: url('../img/images-search.png');
    background-size: cover; 
    }
