.Group40{
/* Group 40 */


position: absolute;
width: 640px;
height: 60px;
left: 750px;
top: 732px;
}
.time1Group40{
/* 22:21 */


position: absolute;
width: 41px;
height: 24px;
left: 775px;
top: 750px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #1D1D1D;
}
.Rectangle55Group40{
/* Rectangle 55 */


position: absolute;
width: 61px;
height: 30px;
left: 765px;
top: 747px;

background: #FFFFFF;
border-radius: 5px;
}
.ImageID1Group40{
/* Image ID: BbMFS3bU- was added to Dislikes */


position: absolute;
width: 305px;
height: 24px;
left: 846px;
top: 750px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #8C8C8C;
}
.Rectangle54Group40{
/* Rectangle 54 */


position: absolute;
width: 640px;
height: 60px;
left: 750px;
top: 732px;

background: #F8F8F7;
border-radius: 10px;
}
.Vector348Group40{
/* Vector (Stroke) */


position: absolute;
left: 93.75%;
right: 4.86%;
top: 83.56%;
bottom: 14.22%;

background: #FFD280;

background: url("../img/UnSmall.png");

background-size: cover; 

}