
.rectangle{
    position: absolute;
    width: 680px;
    height: 840px;
    left: 730px;
    top: 30px;
    
    background: #FBE0DC;
    border-radius: 20px;
    }
    .girl-and-pet{
        position: absolute;
        width: 775px;
        height: 1024px;
        left: 665px;
        top: -62px;
        background: url("../img/girl-and-pet.png");
        background-size: cover;
    }
    